# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*$py.class

*.log


# =====================
# Virtual Environment
# =====================

.venv/
venv/
env/


# =====================
# IDE
# =====================

.idea/
.vscode/


# =====================
# Model checkpoints
# =====================

*.pt
*.pth
*.ckpt


# =====================
# Generated results
# =====================

results/*/

# 保留目录结构
!results/.gitkeep


# =====================
# Dataset
# =====================

data/raw/
data/processed/


# =====================
# Temporary
# =====================

*.tmp
*.cache
.DS_Store