# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*$py.class

*.log


# =====================
# Virtual Environment
# =====================

.venv/
venv/
env/


# =====================
# IDE
# =====================

.idea/
.vscode/


# =====================
# Model checkpoints
# =====================

*.pt
*.pth
*.ckpt


# =====================
# Generated results
# =====================

# Ignore experiment results
results/*/

# Keep visualization figures for README
!results/AI4I/
!results/AI4I/figures/
!results/AI4I/figures/*.png

!results/TEP/
!results/TEP/figures/
!results/TEP/figures/*.png

# 保留目录结构
!results/.gitkeep


# =====================
# Dataset
# =====================

data/raw/
data/processed/


# =====================
# Temporary
# =====================

*.tmp
*.cache
.DS_Store